$text-primary: #000000;
$text-secondary: #696969;

$surface-root: #000000;
$surface-primary: #FFFFFF;
$surface-secondary: #F8F8F8;

$stroke-color: #DBDBDB;
$stroke-width: 1px;
$stroke: $stroke-color solid $stroke-width;

$no-stroke-color: transparent;
$no-stroke-width: 1px;
$no-stroke: $no-stroke-color solid $no-stroke-width;

$stroke-secondary-color: #e9e9e9;
$stroke-secondary-width: 1px;
$stroke-secondary: $stroke-secondary-color solid $stroke-secondary-width;

$padding-vertical: 15px;
$padding-horizontal: 15px;
$padding: $padding-vertical $padding-horizontal;

$font-size: 9px;
$font-family: Montserrat;
$font: $font-size $font-family;

$font-primary-size: 11px;
$font-primary-family: Montserrat;
$font-primary: $font-primary-size $font-primary-family;

$control-irritated: rgba(0, 0, 0, 5%);
$control-clicked: rgba(0, 0, 0, 2%);

$animation-duration: 150ms;

$accent-text-primary: #FFFFFF;
$accent-text-secondary: #d1d1d1;

$accent-primary: #000000;
$accent-secondary: #505050;