$text-primary: #000000;
$text-secondary: #696969;

$surface-root: #000000;
$surface-primary: #FFFFFF;
$surface-secondary: #F8F8F8;

$stroke-color: rgba(0, 0, 0, 10%);
$stroke-width: 1px;
$stroke: $stroke-color solid $stroke-width;

$no-stroke-color: transparent;
$no-stroke-width: 1px;
$no-stroke: $no-stroke-color solid $no-stroke-width;

$padding-vertical: 6px;
$padding-horizontal: 6px;
$padding: $padding-vertical $padding-horizontal;

$font-size: 9px;
$font-family: Montserrat;
$font: $font-size $font-family;

$font-primary-size: 11px;
$font-primary-family: Montserrat;
$font-primary: $font-primary-size $font-primary-family;

$control-irritated: rgba(0, 0, 0, 5%);
$control-clicked: rgba(0, 0, 0, 2%);

$animation-duration: 150ms;

$accent-text-primary: #FFFFFF;
$accent-text-secondary: #d1d1d1;

$accent-primary: #000000;
$accent-secondary: #505050;

$panel-radius: 4px;
$control-radius: 4px;
$shadow: #0000003f;

// Dark
// $text-primary: #FFFFFF;
// $text-secondary: #d1d1d1;

// $surface-root: #000000;
// $surface-primary: #1E1E1E;
// $surface-secondary: #000000;

// $stroke-color: rgba(255, 255, 255, 10%);
// $stroke-width: 1px;
// $stroke: $stroke-color solid $stroke-width;

// $no-stroke-color: transparent;
// $no-stroke-width: 1px;
// $no-stroke: $no-stroke-color solid $no-stroke-width;

// $padding-vertical: 5px;
// $padding-horizontal: 5px;
// $padding: $padding-vertical $padding-horizontal;

// $font-size: 9px;
// $font-family: Montserrat;
// $font: $font-size $font-family;

// $font-primary-size: 11px;
// $font-primary-family: Montserrat;
// $font-primary: $font-primary-size $font-primary-family;

// $control-irritated: rgba(255, 255, 255, 5%);
// $control-clicked: rgba(255, 255, 255, 2%);

// $animation-duration: 150ms;

// $accent-text-primary: #FFFFFF;
// $accent-text-secondary: #d1d1d1;

// $accent-primary: #FFFFFF;
// $accent-secondary: #999999;

// $panel-radius: 6px;
// $control-radius: 3px;